<div class="bg-dark text-white p-3" style="width: 250px; height: 100vh;">
    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/author/new">Add Authors</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/quote/new">Add Quotes</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/authors">List Authors</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/quotes">List Quotes</a>
        </li>
    </ul>
</div>