<%- include('partials/header.ejs') %>

    <body>
        <div class="d-flex">
            <%- include('partials/nav.ejs') %>

                <div class="flex-grow-1 p-4">

                    <h1>Adding a new Author</h1>


                    <form method="POST" action="/author/new">
                        First Name:
                        <input type="text" name="fName"><br>
                        Last Name:
                        <input type="text" name="lName"><br>
                        Date of Birth:
                        <input type="date" name="birthDate">
                        <br>
                        Date of Birth:
                        <input type="date" name="deathDate">
                        <br>
                        Sex:
                        <input type="radio" name="sex" value="M"> Male

                        <input type="radio" name="sex" value="F"> Female
                        <br>

                        Profession:
                        <input type="text" name="profession">
                        <br>

                        Country:
                        <input type="text" name="country">
                        <br>

                        Portrait URL:
                        <input type="text" name="portrait">
                        <br>

                        Biography:
                        <input type="text" name="biography">
                        <br>

                        <button>Add Author</button>
                    </form>

                    <% if (typeof message !="undefined" ){ %>
                        <h3>
                            <%=message%>
                        </h3>
                        <% } %>

                </div>
            </div>

                <%- include('partials/footer.ejs') %>

    </body>

    </html>