<%- include('partials/header.ejs') %>

    <body>
        <div class="d-flex">
            <%- include('partials/nav.ejs') %>

            <div class="flex-grow-1 p-4">

                <h1>Adding a new Quote</h1>

                <form method="POST" action="/quote/new">
                    Quote:
                    <input type="text" name="quote"><br>
                    Author:
                    <select id="authorSelect" name="authorId"></select>
                    <br>
                    Category:
                    <input type="text" name="category">
                    <br>
                    Likes:
                    <input type="number" name="likes">
                    <br>

                    <button>Add Quote</button>
                </form>

                <% if (typeof message !="undefined" ){ %>
                    <h3>
                        <%=message%>
                    </h3>
                    <% } %>

                       

            </div>

        </div>

         <%- include('partials/footer.ejs') %>

        <script>
            document.addEventListener("DOMContentLoaded", async () => {
                const select = document.getElementById("authorSelect");

                try {
                    const response = await fetch("/authors.json");
                    const result = await response.json();

                    result.authors.forEach(author => {
                        const option = document.createElement("option");
                        option.value = author.authorId;
                        option.textContent = `${author.lastName}, ${author.firstName}`;
                        select.appendChild(option);
                    });
                } catch (error) {
                    console.error("Failed to load authors:", error);
                }
            });
        </script>
    </body>

    </html>